* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  /* cursor: not-allow; */
  /* caret-color: red; */
}
.logoText1 {
  color: white;
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
  font-size: 24px;
}
.logoText2 {
  color: rgb(192, 132, 252);
  text-shadow: 1px 1px 5px #000;
  font-weight: bold;
  font-size: 24px;
}
.whoIAM{
  text-shadow: none;

}
.my-custom-bg {
  background-image: url('/./images/purple-wallpaper-7267076_1920.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fontFamily {
  font-family: 'Righteous', cursive;
}
.textcolor {
  color: rgb(192, 132, 252);
  text-shadow: 1px 1px 5px #000;
  font-weight: bold;
}
.blackTransparent {
  color: rgb(0, 0, 0, 0.7);
}
.bordeer{
  border: 2px solid red;
}